# Clusterização

[**Premier League:** Premier League Match Data as well as Financial Data of all clubs in the 18-19](https://www.kaggle.com/thesiff/premierleague1819)


Execute  os  algoritmosde clusterizacao citados a seguir e compare os resultados. 
- Execute os algoritmos de agrupamento K-means e Hierarquico com os seguintes valores de K:2, 5, 10 e 100. Compare os agrupamento resultantes dos 2 algoritmos. 
- Escolha  um  numero  fixo  de  K  e  altere  o  parametro  do  K-Means  referente  ao  numeromaximo  de  iteracoes:  1,  10  e  100  e  o  parametro  de  Linkage  do  Hierarquico,  quaisdiferencas puderam ser observadas? 
- Faca uma comparacao entre os 2 algoritmos, qual voce acha que teve o melhordesempenho e por que? 

**Bonus**:  normalizar  os  dados  e  executar  novamente  os  algoritmos  para  analisar  os  novos resultados gerados. Em seguida, fazer os graficos dos agrupamentos dos dados brutos vs dados normalizados, e um boxplot para mostrar a dispersao destes dados

In [1]:
import pandas as pd
import sklearn as sk
from sklearn import model_selection
import matplotlib.pyplot as plt
%matplotlib inline
import numpy as np
import seaborn as sns


from sklearn.cluster import AgglomerativeClustering
from sklearn.cluster import KMeans

In [2]:
epl_df = pd.read_csv("epl_1819.csv")
transfer_df = pd.read_csv("transfer.csv")

In [3]:
epl_df.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 20 entries, 0 to 19
Data columns (total 44 columns):
Team                             20 non-null object
category                         20 non-null object
general_league_position          20 non-null int64
finance _live_games_televised    20 non-null int64
finance _tv_revenue              20 non-null int64
general_matches_played           20 non-null int64
general_won                      20 non-null int64
general_draw                     20 non-null int64
general_lost                     20 non-null int64
attack_scored                    20 non-null int64
defence_goals_conceeded          20 non-null int64
general_goal_difference          20 non-null int64
general_points                   20 non-null int64
general_squad_size               20 non-null int64
general_squad_average_age        20 non-null float64
general_squad_foreigners         20 non-null int64
finance _team_market             20 non-null int64
finance _market_average          20 non-null int64
attack_passes                    20 non-null object
attack_passes_through            20 non-null int64
attack_passes_long               20 non-null object
attack_passes_back               20 non-null object
attack_crosses                   20 non-null int64
attack_corners_taken             20 non-null int64
attack_shots                     20 non-null int64
attack_shots_on_target           20 non-null int64
attack_goals_headed              20 non-null int64
attack_goals_penalty             20 non-null int64
attack_goals_box                 20 non-null int64
attack_goals_outsidebox          20 non-null int64
general_card_yellow              20 non-null int64
general_card_red                 20 non-null int64
attack_goals_counter             20 non-null int64
attack_goals_freekick            20 non-null int64
defence_saves                    20 non-null int64
defence_blocks                   20 non-null int64
defence_interceptions            20 non-null int64
defence_tackles                  20 non-null int64
defence_tackles_last_man         20 non-null int64
defence_clearances               20 non-null object
defence_clearances_headed        20 non-null int64
defence_penalty_conceeded        20 non-null int64
attack_posession                 20 non-null float64
attack_pass_accuracy             20 non-null float64
dtypes: float64(3), int64(35), object(6)
memory usage: 7.0+ KB

In [4]:
transfer_df.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 20 entries, 0 to 19
Data columns (total 12 columns):
team        20 non-null object
end_2019    20 non-null float64
end_2018    20 non-null float64
end_2017    20 non-null float64
end_2016    20 non-null float64
end_2015    20 non-null float64
end_2014    20 non-null float64
end_2013    20 non-null float64
end_2012    20 non-null float64
end_2011    20 non-null float64
end_2010    20 non-null float64
Total       20 non-null float64
dtypes: float64(11), object(1)
memory usage: 2.0+ KB

In [5]:
epl_df.head()

,Team,category,general_league_position,finance _live_games_televised,finance _tv_revenue,general_matches_played,general_won,general_draw,general_lost,attack_scored,...,defence_saves,defence_blocks,defence_interceptions,defence_tackles,defence_tackles_last_man,defence_clearances,defence_clearances_headed,defence_penalty_conceeded,attack_posession,attack_pass_accuracy
0,Manchester City,Champions League,1,26,150986355,38,32,2,4,95,...,58,63,362,518,0,543,295,4,64.0,89.0
1,Liverpool,Champions League,2,29,152425146,38,30,7,1,89,...,76,78,314,610,2,639,317,1,58.8,84.4
2,Chelsea,Champions League Qualification,3,25,146030216,38,21,9,8,63,...,85,73,351,618,2,593,330,2,59.9,87.6
3,Tottenham,Champions League Qualification,4,26,145230801,38,23,2,13,67,...,121,112,326,626,3,770,411,5,56.7,83.2
4,Arsenal,Europa League,5,25,142193180,38,21,7,10,73,...,133,118,412,609,2,762,404,7,56.1,83.3

In [6]:
transfer_df.head()

,team,end_2019,end_2018,end_2017,end_2016,end_2015,end_2014,end_2013,end_2012,end_2011,end_2010,Total
0,Manchester City,-22.99,-226.15,-178.15,-140.86,-57.68,-104.70,-17.65,-59.85,-146.46,-116.35,-1070.83
1,Manchester United,-52.15,-152.90,-137.85,-53.93,-146.06,-75.33,-65.57,-47.84,-11.99,77.07,-666.55
2,Tottenham,5.35,-17.70,-31.30,16.58,-4.32,13.55,-0.47,33.80,-23.67,-8.60,-16.78
3,Liverpool,-143.70,20.62,5.48,-34.85,-52.16,-25.50,-60.15,-43.63,3.98,5.05,-324.86
4,Chelsea,-148.25,-60.00,-24.40,-3.01,7.15,-52.92,-84.25,-64.05,-105.00,-26.20,-560.93

### Retirando a virgula de algumas colunas que foram reconhecidas como objeto

In [7]:
columns = ["attack_passes", "attack_passes_long", "attack_passes_back", "defence_clearances"]
for column in columns:
    epl_df[column] = epl_df[column].str.replace(",", "").astype(int)

### Ambas as tabelas tem o nome do Time, precisamos tratar isso antes de unir para não duplicar dados

- o .strip() retira os espaços no começo e fim da string
- na tabela transfer_df o header Team está com letra minuscula

In [8]:
transfer_df.rename(columns={'team':'Team'}, inplace=True)

In [9]:
transfer_df["Team"] = transfer_df["Team"].str.strip()
transfer_df["Team"]

0       Manchester City
1     Manchester United
2             Tottenham
3             Liverpool
4               Chelsea
5               Arsenal
6               Burnley
7               Everton
8             Leicester
9      Newcastle United
10       Crystal Palace
11          Bournemouth
12             West Ham
13              Watford
14             Brighton
15         Huddersfield
16          Southampton
17        Wolverhampton
18              Cardiff
19               Fulham
Name: Team, dtype: object

In [10]:
epl_df["Team"] = epl_df.sort_values("Team")["Team"].str.strip()
epl_df

,Team,category,general_league_position,finance _live_games_televised,finance _tv_revenue,general_matches_played,general_won,general_draw,general_lost,attack_scored,...,defence_saves,defence_blocks,defence_interceptions,defence_tackles,defence_tackles_last_man,defence_clearances,defence_clearances_headed,defence_penalty_conceeded,attack_posession,attack_pass_accuracy
0,Manchester City,Champions League,1,26,150986355,38,32,2,4,95,...,58,63,362,518,0,543,295,4,64.0,89.0
1,Liverpool,Champions League,2,29,152425146,38,30,7,1,89,...,76,78,314,610,2,639,317,1,58.8,84.4
2,Chelsea,Champions League Qualification,3,25,146030216,38,21,9,8,63,...,85,73,351,618,2,593,330,2,59.9,87.6
3,Tottenham,Champions League Qualification,4,26,145230801,38,23,2,13,67,...,121,112,326,626,3,770,411,5,56.7,83.2
4,Arsenal,Europa League,5,25,142193180,38,21,7,10,73,...,133,118,412,609,2,762,404,7,56.1,83.3
5,Manchester United,Europa League,6,27,142512868,38,19,9,10,65,...,122,128,355,581,2,785,370,6,53.3,82.3
6,Wolverhampton,Europa League Qualification,7,15,127165114,38,16,9,13,47,...,100,148,501,720,2,824,464,4,47.4,78.2
7,Everton,No UEFA Competitions,8,18,128603905,38,15,9,14,54,...,94,85,456,700,4,825,430,5,51.0,77.3
8,Leicester,No UEFA Competitions,9,15,123328078,38,15,7,16,51,...,90,96,436,676,4,945,500,5,50.8,79.2
9,West Ham,No UEFA Competitions,10,16,122528663,38,15,7,16,52,...,148,141,457,723,5,855,397,5,49.0,78.7
10,Watford,No UEFA Competitions,11,10,113895527,38,14,8,16,52,...,127,120,426,655,8,956,447,5,47.4,76.1
11,Crystal Palace,No UEFA Competitions,12,12,114215215,38,14,7,17,51,...,113,141,446,730,2,940,467,5,46.6,76.8
12,Newcastle,No UEFA Competitions,13,19,120130418,38,12,9,17,42,...,95,134,506,714,4,1120,564,7,42.9,72.9
13,Bournemouth,No UEFA Competitions,14,10,108139973,38,13,6,19,56,...,110,152,371,526,5,1019,515,5,47.7,78.1
14,Burnley,No UEFA Competitions,15,11,107340558,38,11,7,20,45,...,140,222,365,583,5,1080,539,5,43.4,70.3
15,Southampton,No UEFA Competitions,16,10,104302937,38,9,12,17,45,...,114,153,548,699,4,1068,502,3,45.4,74.0
16,Brighton,No UEFA Competitions,17,13,105741728,38,9,9,20,35,...,111,170,463,681,4,921,499,10,44.1,74.8
17,Cardiff,Relegated,18,12,102704107,38,10,4,24,34,...,141,147,528,655,4,978,448,8,39.1,63.9
18,Fulham,Relegated,19,13,101904692,38,7,5,26,34,...,147,144,433,591,0,971,443,7,49.2,80.3
19,Huddersfield,Relegated,20,10,96628865,38,3,7,28,22,...,114,130,530,710,2,658,246,8,47.1,75.8

### Unindo as duas tabelas

In [11]:
result = pd.merge(epl_df, transfer_df, on="Team")
result

,Team,category,general_league_position,finance _live_games_televised,finance _tv_revenue,general_matches_played,general_won,general_draw,general_lost,attack_scored,...,end_2018,end_2017,end_2016,end_2015,end_2014,end_2013,end_2012,end_2011,end_2010,Total
0,Manchester City,Champions League,1,26,150986355,38,32,2,4,95,...,-226.15,-178.15,-140.86,-57.68,-104.70,-17.65,-59.85,-146.46,-116.35,-1070.83
1,Liverpool,Champions League,2,29,152425146,38,30,7,1,89,...,20.62,5.48,-34.85,-52.16,-25.50,-60.15,-43.63,3.98,5.05,-324.86
2,Chelsea,Champions League Qualification,3,25,146030216,38,21,9,8,63,...,-60.00,-24.40,-3.01,7.15,-52.92,-84.25,-64.05,-105.00,-26.20,-560.93
3,Tottenham,Champions League Qualification,4,26,145230801,38,23,2,13,67,...,-17.70,-31.30,16.58,-4.32,13.55,-0.47,33.80,-23.67,-8.60,-16.78
4,Arsenal,Europa League,5,25,142193180,38,21,7,10,73,...,3.35,-102.65,-24.00,-91.18,-37.10,9.85,12.82,-13.40,35.70,-281.72
5,Manchester United,Europa League,6,27,142512868,38,19,9,10,65,...,-152.90,-137.85,-53.93,-146.06,-75.33,-65.57,-47.84,-11.99,77.07,-666.55
6,Wolverhampton,Europa League Qualification,7,15,127165114,38,16,9,13,47,...,-18.29,-33.11,5.73,-2.02,4.26,15.15,-9.45,-13.78,-18.58,-159.30
7,Everton,No UEFA Competitions,8,18,128603905,38,15,9,14,54,...,-76.72,-25.10,-37.90,-38.26,14.30,-2.90,19.60,4.90,5.04,-208.19
8,Leicester,No UEFA Competitions,9,15,123328078,38,15,7,16,51,...,-39.95,-25.55,-40.45,-22.86,0.65,-1.72,-16.71,-2.50,-0.81,-168.69
9,West Ham,No UEFA Competitions,10,16,122528663,38,15,7,16,52,...,12.22,-42.50,-34.19,-30.75,-23.47,-18.85,-2.49,-10.88,19.65,-221.72
10,Watford,No UEFA Competitions,11,10,113895527,38,14,8,16,52,...,-54.66,-11.85,-73.78,-8.45,2.08,3.99,7.19,-0.73,7.31,-107.16
11,Crystal Palace,No UEFA Competitions,12,12,114215215,38,14,7,17,51,...,-45.95,-51.10,-23.40,-28.41,-33.00,14.67,-0.77,-0.65,4.40,-175.72
12,Bournemouth,No UEFA Competitions,14,10,108139973,38,13,6,19,56,...,-34.30,-15.20,-54.46,-1.12,-4.06,-0.63,0.52,1.94,0.00,-176.20
13,Burnley,No UEFA Competitions,15,11,107340558,38,11,7,20,45,...,14.26,-44.40,-5.01,-12.62,4.65,6.35,2.72,0.88,-13.45,-71.63
14,Southampton,No UEFA Competitions,16,10,104302937,38,9,12,17,45,...,37.10,16.15,-7.40,27.79,-35.40,-41.50,8.73,-2.82,2.25,-33.44
15,Brighton,No UEFA Competitions,17,13,105741728,38,9,9,20,35,...,-64.50,-8.75,-13.45,9.42,4.65,-0.67,-4.15,-0.65,-0.43,-151.29
16,Cardiff,Relegated,18,12,102704107,38,10,4,24,34,...,-10.02,2.68,5.90,12.98,-42.08,-11.55,-0.92,0.34,-1.23,-95.09
17,Fulham,Relegated,19,13,101904692,38,7,5,26,34,...,-1.37,-1.77,0.86,0.47,-25.35,21.42,-10.68,1.56,-7.11,-129.47
18,Huddersfield,Relegated,20,10,96628865,38,3,7,28,22,...,-50.90,-3.00,9.77,3.38,-0.83,6.65,1.01,0.32,-1.73,-73.71

### Tratando a categoria das ligas, que é objeto

In [12]:
category_encoding = pd.get_dummies(result["category"])
category_encoding

,Champions League,Champions League Qualification,Europa League,Europa League Qualification,No UEFA Competitions,Relegated
0,1,0,0,0,0,0
1,1,0,0,0,0,0
2,0,1,0,0,0,0
3,0,1,0,0,0,0
4,0,0,1,0,0,0
5,0,0,1,0,0,0
6,0,0,0,1,0,0
7,0,0,0,0,1,0
8,0,0,0,0,1,0
9,0,0,0,0,1,0
10,0,0,0,0,1,0
11,0,0,0,0,1,0
12,0,0,0,0,1,0
13,0,0,0,0,1,0
14,0,0,0,0,1,0
15,0,0,0,0,1,0
16,0,0,0,0,0,1
17,0,0,0,0,0,1
18,0,0,0,0,0,1

### Unindo os dados do Encoding

In [13]:
result_encoding = pd.concat([result, category_encoding], axis=1)

result_encoding = result_encoding.drop(["category", "Team"], axis = 1)
result_encoding

,general_league_position,finance _live_games_televised,finance _tv_revenue,general_matches_played,general_won,general_draw,general_lost,attack_scored,defence_goals_conceeded,general_goal_difference,...,end_2012,end_2011,end_2010,Total,Champions League,Champions League Qualification,Europa League,Europa League Qualification,No UEFA Competitions,Relegated
0,1,26,150986355,38,32,2,4,95,23,72,...,-59.85,-146.46,-116.35,-1070.83,1,0,0,0,0,0
1,2,29,152425146,38,30,7,1,89,22,67,...,-43.63,3.98,5.05,-324.86,1,0,0,0,0,0
2,3,25,146030216,38,21,9,8,63,39,24,...,-64.05,-105.00,-26.20,-560.93,0,1,0,0,0,0
3,4,26,145230801,38,23,2,13,67,39,28,...,33.80,-23.67,-8.60,-16.78,0,1,0,0,0,0
4,5,25,142193180,38,21,7,10,73,51,22,...,12.82,-13.40,35.70,-281.72,0,0,1,0,0,0
5,6,27,142512868,38,19,9,10,65,54,11,...,-47.84,-11.99,77.07,-666.55,0,0,1,0,0,0
6,7,15,127165114,38,16,9,13,47,46,1,...,-9.45,-13.78,-18.58,-159.30,0,0,0,1,0,0
7,8,18,128603905,38,15,9,14,54,46,8,...,19.60,4.90,5.04,-208.19,0,0,0,0,1,0
8,9,15,123328078,38,15,7,16,51,48,3,...,-16.71,-2.50,-0.81,-168.69,0,0,0,0,1,0
9,10,16,122528663,38,15,7,16,52,55,-3,...,-2.49,-10.88,19.65,-221.72,0,0,0,0,1,0
10,11,10,113895527,38,14,8,16,52,59,-7,...,7.19,-0.73,7.31,-107.16,0,0,0,0,1,0
11,12,12,114215215,38,14,7,17,51,53,-2,...,-0.77,-0.65,4.40,-175.72,0,0,0,0,1,0
12,14,10,108139973,38,13,6,19,56,70,-14,...,0.52,1.94,0.00,-176.20,0,0,0,0,1,0
13,15,11,107340558,38,11,7,20,45,68,-23,...,2.72,0.88,-13.45,-71.63,0,0,0,0,1,0
14,16,10,104302937,38,9,12,17,45,65,-20,...,8.73,-2.82,2.25,-33.44,0,0,0,0,1,0
15,17,13,105741728,38,9,9,20,35,60,-25,...,-4.15,-0.65,-0.43,-151.29,0,0,0,0,1,0
16,18,12,102704107,38,10,4,24,34,69,-35,...,-0.92,0.34,-1.23,-95.09,0,0,0,0,0,1
17,19,13,101904692,38,7,5,26,34,81,-47,...,-10.68,1.56,-7.11,-129.47,0,0,0,0,0,1
18,20,10,96628865,38,3,7,28,22,76,-54,...,1.01,0.32,-1.73,-73.71,0,0,0,0,0,1

## K-Means k=2

In [14]:
kmeans = KMeans(n_clusters=2, random_state=0).fit(result_encoding)

In [15]:
a = np.array(kmeans.labels_)
a.sum()

6

In [16]:
unique, counts = np.unique(a, return_counts=True)
dicionario = dict(zip(unique, counts))
print(dicionario)
lista = list(dicionario.items())
class_instances = pd.DataFrame(lista, columns=["Classe", "Nº Instancias"])
class_instances

{0: 13, 1: 6}

   Classe  Nº Instancias
0       0             13
1       1              6

### Silhouette

In [17]:
km_ = result_encoding.assign(cluster_number=kmeans.predict(result_encoding))
sk.metrics.silhouette_score(km_, labels=km_["cluster_number"])

0.7692706157307959

## K-Means k=5

In [18]:
kmeans = KMeans(n_clusters=5, random_state=0).fit(result_encoding)

In [19]:
a = np.array(kmeans.labels_)
a.sum()

37

In [20]:
unique, counts = np.unique(a, return_counts=True)
dicionario = dict(zip(unique, counts))
print(dicionario)
lista = list(dicionario.items())
class_instances = pd.DataFrame(lista, columns=["Classe", "Nº Instancias"])
class_instances

{0: 7, 1: 1, 2: 1, 3: 6, 4: 4}

   Classe  Nº Instancias
0       0              7
1       1              1
2       2              1
3       3              6
4       4              4

### Silhouette

In [21]:
km_ = result_encoding.assign(cluster_number=kmeans.predict(result_encoding))
sk.metrics.silhouette_score(km_, labels=km_["cluster_number"])

0.47013832606718325

## K-Means k=10

In [22]:
kmeans = KMeans(n_clusters=10, random_state=0).fit(result_encoding)

In [23]:
a = np.array(kmeans.labels_)
a.sum()

85

In [24]:
unique, counts = np.unique(a, return_counts=True)
dicionario = dict(zip(unique, counts))
print(dicionario)
lista = list(dicionario.items())
class_instances = pd.DataFrame(lista, columns=["Classe", "Nº Instancias"])
class_instances

{0: 4, 1: 1, 2: 1, 3: 1, 4: 1, 5: 2, 6: 2, 7: 4, 8: 2, 9: 1}

   Classe  Nº Instancias
0       0              4
1       1              1
2       2              1
3       3              1
4       4              1
5       5              2
6       6              2
7       7              4
8       8              2
9       9              1

### Silhouette

In [25]:
km_ = result_encoding.assign(cluster_number=kmeans.predict(result_encoding))
sk.metrics.silhouette_score(km_, labels=km_["cluster_number"])

0.46420915413668373

## K-Means k=19

In [26]:
kmeans = KMeans(n_clusters=19, random_state=0).fit(result_encoding)

In [27]:
a = np.array(kmeans.labels_)
a.sum()

171

In [28]:
unique, counts = np.unique(a, return_counts=True)
dicionario = dict(zip(unique, counts))
print(dicionario)
lista = list(dicionario.items())
class_instances = pd.DataFrame(lista, columns=["Classe", "Nº Instancias"])
class_instances

{0: 1, 1: 1, 2: 1, 3: 1, 4: 1, 5: 1, 6: 1, 7: 1, 8: 1, 9: 1, 10: 1, 11: 1, 12: 1, 13: 1, 14: 1, 15: 1, 16: 1, 17: 1, 18: 1}

    Classe  Nº Instancias
0        0              1
1        1              1
2        2              1
3        3              1
4        4              1
5        5              1
6        6              1
7        7              1
8        8              1
9        9              1
10      10              1
11      11              1
12      12              1
13      13              1
14      14              1
15      15              1
16      16              1
17      17              1
18      18              1

In [29]:
# h_clustered = result_encoding.assign(cluster_number=clustering.fit_predict(result_encoding))
# sk.metrics.silhouette_score(h_clustered, labels=h_clustered["cluster_number"])

## Kmeans k=7 e max_iter=1

In [30]:
kmeans = KMeans(n_clusters=7, max_iter=1).fit(result_encoding)

km_clustered = result_encoding.assign(cluster_number=kmeans.predict(result_encoding))
#Silhouette
sk.metrics.silhouette_score(km_clustered, labels=km_clustered["cluster_number"])

0.4555277338959717

In [31]:
a = np.array(kmeans.labels_)
unique, counts = np.unique(a, return_counts=True)
dicionario = dict(zip(unique, counts))
print(dicionario)
lista = list(dicionario.items())
class_instances = pd.DataFrame(lista, columns=["Classe", "Nº Instancias"])
class_instances

{0: 6, 1: 2, 2: 3, 3: 1, 4: 1, 5: 2, 6: 4}

   Classe  Nº Instancias
0       0              6
1       1              2
2       2              3
3       3              1
4       4              1
5       5              2
6       6              4

## Kmeans k=7 e max_iter=10

In [32]:
kmeans = KMeans(n_clusters=7, max_iter=10).fit(result_encoding)

km_clustered = result_encoding.assign(cluster_number=kmeans.predict(result_encoding))
#Silhouette
sk.metrics.silhouette_score(km_clustered, labels=km_clustered["cluster_number"])

0.4555277338959705

In [33]:
a = np.array(kmeans.labels_)
unique, counts = np.unique(a, return_counts=True)
dicionario = dict(zip(unique, counts))
print(dicionario)
lista = list(dicionario.items())
class_instances = pd.DataFrame(lista, columns=["Classe", "Nº Instancias"])
class_instances

{0: 1, 1: 4, 2: 2, 3: 6, 4: 1, 5: 2, 6: 3}

   Classe  Nº Instancias
0       0              1
1       1              4
2       2              2
3       3              6
4       4              1
5       5              2
6       6              3

## Kmeans k=7 e max_iter=100

In [34]:
kmeans = KMeans(n_clusters=7, max_iter=100).fit(result_encoding)

km_clustered = result_encoding.assign(cluster_number=kmeans.predict(result_encoding))
#Silhouette
sk.metrics.silhouette_score(km_clustered, labels=km_clustered["cluster_number"])

0.45552773389597045

In [35]:
a = np.array(kmeans.labels_)
unique, counts = np.unique(a, return_counts=True)
dicionario = dict(zip(unique, counts))
print(dicionario)
lista = list(dicionario.items())
class_instances = pd.DataFrame(lista, columns=["Classe", "Nº Instancias"])
class_instances

{0: 3, 1: 2, 2: 6, 3: 2, 4: 1, 5: 4, 6: 1}

   Classe  Nº Instancias
0       0              3
1       1              2
2       2              6
3       3              2
4       4              1
5       5              4
6       6              1

## Hierarquico k=2 / linkage=ward

In [36]:
clustering = AgglomerativeClustering(n_clusters=2, affinity='euclidean', linkage="ward").fit(result_encoding)

In [37]:
a = np.array(clustering.labels_)
a

array([0, 0, 0, 0, 0, 0, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1])

In [38]:
unique, counts = np.unique(a, return_counts=True)
dicionario = dict(zip(unique, counts))
print(dicionario)
lista = list(dicionario.items())
class_instances = pd.DataFrame(lista, columns=["Classe", "Nº Instancias"])
class_instances

{0: 6, 1: 13}

   Classe  Nº Instancias
0       0              6
1       1             13

### Silhouette

In [39]:
h_clustered = result_encoding.assign(cluster_number=clustering.fit_predict(result_encoding))
sk.metrics.silhouette_score(h_clustered, labels=h_clustered["cluster_number"])

0.7692706157307959

## Hierarquico k=2 / linkage=complete

In [40]:
clustering = AgglomerativeClustering(n_clusters=2, affinity='euclidean', linkage="complete").fit(result_encoding)

In [41]:
a = np.array(clustering.labels_)
a

array([0, 0, 0, 0, 0, 0, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1])

In [42]:
unique, counts = np.unique(a, return_counts=True)
dicionario = dict(zip(unique, counts))
print(dicionario)
lista = list(dicionario.items())
class_instances = pd.DataFrame(lista, columns=["Classe", "Nº Instancias"])
class_instances

{0: 6, 1: 13}

   Classe  Nº Instancias
0       0              6
1       1             13

### Silhouette

In [43]:
h_clustered = result_encoding.assign(cluster_number=clustering.fit_predict(result_encoding))
sk.metrics.silhouette_score(h_clustered, labels=h_clustered["cluster_number"])

0.7692706157307959

## Hierarquico k=5 / linkage=complete

In [44]:
clustering = AgglomerativeClustering(n_clusters=5, affinity='euclidean', linkage="complete").fit(result_encoding)

In [45]:
a = np.array(clustering.labels_)
a

array([2, 1, 1, 1, 1, 3, 0, 0, 0, 0, 0, 0, 4, 4, 4, 4, 4, 4, 4])

In [46]:
unique, counts = np.unique(a, return_counts=True)
dicionario = dict(zip(unique, counts))
print(dicionario)
lista = list(dicionario.items())
class_instances = pd.DataFrame(lista, columns=["Classe", "Nº Instancias"])
class_instances

{0: 6, 1: 4, 2: 1, 3: 1, 4: 7}

   Classe  Nº Instancias
0       0              6
1       1              4
2       2              1
3       3              1
4       4              7

### Silhouette

In [47]:
h_clustered = result_encoding.assign(cluster_number=clustering.fit_predict(result_encoding))
sk.metrics.silhouette_score(h_clustered, labels=h_clustered["cluster_number"])

0.47013832606718325

## Hierarquico k=5 / linkage=ward

In [48]:
clustering = AgglomerativeClustering(n_clusters=5, affinity='euclidean', linkage="ward").fit(result_encoding)

In [49]:
a = np.array(clustering.labels_)
a

array([2, 1, 1, 1, 1, 4, 3, 3, 3, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0])

In [50]:
unique, counts = np.unique(a, return_counts=True)
dicionario = dict(zip(unique, counts))
print(dicionario)
lista = list(dicionario.items())
class_instances = pd.DataFrame(lista, columns=["Classe", "Nº Instancias"])
class_instances

{0: 10, 1: 4, 2: 1, 3: 3, 4: 1}

   Classe  Nº Instancias
0       0             10
1       1              4
2       2              1
3       3              3
4       4              1

### Silhouette

In [51]:
h_clustered = result_encoding.assign(cluster_number=clustering.fit_predict(result_encoding))
sk.metrics.silhouette_score(h_clustered, labels=h_clustered["cluster_number"])

0.5012077665339084

## Hierarquico k=19 / linkage=single

In [52]:
clustering = AgglomerativeClustering(n_clusters=19, affinity='euclidean', linkage="single").fit(result_encoding)

In [53]:
a = np.array(clustering.labels_)
a

array([11, 13, 17,  9, 15, 16, 10, 14,  4,  7, 18,  8, 12,  6,  3,  1,  5,
        2,  0])

In [54]:
unique, counts = np.unique(a, return_counts=True)
dicionario = dict(zip(unique, counts))
print(dicionario)
lista = list(dicionario.items())
class_instances = pd.DataFrame(lista, columns=["Classe", "Nº Instancias"])
class_instances

{0: 1, 1: 1, 2: 1, 3: 1, 4: 1, 5: 1, 6: 1, 7: 1, 8: 1, 9: 1, 10: 1, 11: 1, 12: 1, 13: 1, 14: 1, 15: 1, 16: 1, 17: 1, 18: 1}

    Classe  Nº Instancias
0        0              1
1        1              1
2        2              1
3        3              1
4        4              1
5        5              1
6        6              1
7        7              1
8        8              1
9        9              1
10      10              1
11      11              1
12      12              1
13      13              1
14      14              1
15      15              1
16      16              1
17      17              1
18      18              1

### Silhouette

In [55]:
# h_clustered = result_encoding.assign(cluster_number=clustering.fit_predict(result_encoding))
# sk.metrics.silhouette_score(h_clustered, labels=h_clustered["cluster_number"])

## Considerando os dados acima

Podemos observar que os melhores resultados foram:

- Kmeans = 0.7692706157307959
- Hierarquico = 0.7692706157307959

E que os resultados com as mudanças no linkage tiveram seu pior resultado com single

As alterações em max_iter foram mais signficativas com k=5 ou k=7. Quando k=2 os resultados foram identicos.