# Clusterização

[**Premier League:** Premier League Match Data as well as Financial Data of all clubs in the 18-19](https://www.kaggle.com/thesiff/premierleague1819)


Execute  os  algoritmosde clusterizacao citados a seguir e compare os resultados. 
- Execute os algoritmos de agrupamento K-means e Hierarquico com os seguintes valores de K:2, 5, 10 e 100. Compare os agrupamento resultantes dos 2 algoritmos. 
- Escolha  um  numero  fixo  de  K  e  altere  o  parametro  do  K-Means  referente  ao  numeromaximo  de  iteracoes:  1,  10  e  100  e  o  parametro  de  Linkage  do  Hierarquico,  quaisdiferencas puderam ser observadas? 
- Faca uma comparacao entre os 2 algoritmos, qual voce acha que teve o melhordesempenho e por que? 

**Bonus**:  normalizar  os  dados  e  executar  novamente  os  algoritmos  para  analisar  os  novos resultados gerados. Em seguida, fazer os graficos dos agrupamentos dos dados brutos vs dados normalizados, e um boxplot para mostrar a dispersao destes dados

In [2]:
import pandas as pd
import sklearn as sk
from sklearn import model_selection
import matplotlib.pyplot as plt
%matplotlib inline
import numpy as np
import seaborn as sns

In [3]:
train_df = pd.read_csv("epl_1819.csv")
train_df

,Team,category,general_league_position,finance _live_games_televised,finance _tv_revenue,general_matches_played,general_won,general_draw,general_lost,attack_scored,...,defence_saves,defence_blocks,defence_interceptions,defence_tackles,defence_tackles_last_man,defence_clearances,defence_clearances_headed,defence_penalty_conceeded,attack_posession,attack_pass_accuracy
0,Manchester City,Champions League,1,26,150986355,38,32,2,4,95,...,58,63,362,518,0,543,295,4,64.0,89.0
1,Liverpool,Champions League,2,29,152425146,38,30,7,1,89,...,76,78,314,610,2,639,317,1,58.8,84.4
2,Chelsea,Champions League Qualification,3,25,146030216,38,21,9,8,63,...,85,73,351,618,2,593,330,2,59.9,87.6
3,Tottenham,Champions League Qualification,4,26,145230801,38,23,2,13,67,...,121,112,326,626,3,770,411,5,56.7,83.2
4,Arsenal,Europa League,5,25,142193180,38,21,7,10,73,...,133,118,412,609,2,762,404,7,56.1,83.3
5,Manchester United,Europa League,6,27,142512868,38,19,9,10,65,...,122,128,355,581,2,785,370,6,53.3,82.3
6,Wolverhampton,Europa League Qualification,7,15,127165114,38,16,9,13,47,...,100,148,501,720,2,824,464,4,47.4,78.2
7,Everton,No UEFA Competitions,8,18,128603905,38,15,9,14,54,...,94,85,456,700,4,825,430,5,51.0,77.3
8,Leicester,No UEFA Competitions,9,15,123328078,38,15,7,16,51,...,90,96,436,676,4,945,500,5,50.8,79.2
9,West Ham,No UEFA Competitions,10,16,122528663,38,15,7,16,52,...,148,141,457,723,5,855,397,5,49.0,78.7
10,Watford,No UEFA Competitions,11,10,113895527,38,14,8,16,52,...,127,120,426,655,8,956,447,5,47.4,76.1
11,Crystal Palace,No UEFA Competitions,12,12,114215215,38,14,7,17,51,...,113,141,446,730,2,940,467,5,46.6,76.8
12,Newcastle,No UEFA Competitions,13,19,120130418,38,12,9,17,42,...,95,134,506,714,4,"1,120",564,7,42.9,72.9
13,Bournemouth,No UEFA Competitions,14,10,108139973,38,13,6,19,56,...,110,152,371,526,5,"1,019",515,5,47.7,78.1
14,Burnley,No UEFA Competitions,15,11,107340558,38,11,7,20,45,...,140,222,365,583,5,"1,080",539,5,43.4,70.3
15,Southampton,No UEFA Competitions,16,10,104302937,38,9,12,17,45,...,114,153,548,699,4,"1,068",502,3,45.4,74.0
16,Brighton,No UEFA Competitions,17,13,105741728,38,9,9,20,35,...,111,170,463,681,4,921,499,10,44.1,74.8
17,Cardiff,Relegated,18,12,102704107,38,10,4,24,34,...,141,147,528,655,4,978,448,8,39.1,63.9
18,Fulham,Relegated,19,13,101904692,38,7,5,26,34,...,147,144,433,591,0,971,443,7,49.2,80.3
19,Huddersfield,Relegated,20,10,96628865,38,3,7,28,22,...,114,130,530,710,2,658,246,8,47.1,75.8